---
import Counter from '../components/react/Counter/Counter';
import VueCounter from '../components/vue/Counter/Counter.vue';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<!-- React components -->
		<Counter client:load />  <!-- Hydrates immediately on page load -->
		<Counter client:idle />  <!-- Hydrates once page is done with its initial load and `requestIdleCallback` event has fired -->
		<Counter client:visible />  <!-- Hydrates once component has entered user's viewport. It uses IntersectionObserver internally -->
		<Counter client:media="(max-width: 800px)" />  <!-- Hydrates once certain CSS media query is set -->
		<Counter client:only="react" />  <!-- Skips SSR and render only on the client. Useful for components entirely dependant on client-side APIs -->

		<!-- Vue component  -->
		<VueCounter client:load />
	</body>
</html>
